body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 0;
}

/* LOGIN oynasi */
#loginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.login-box input,
.login-box button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 16px;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: white;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}

.top-row {
  display: flex;
  border-bottom: 2px solid #000;
}

.tab {
  flex: 1;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border-right: 1px solid #000;
}

.tab:last-child {
  border-right: none;
}

.story {
  background: #3399ff;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
}

.story img {
  max-width: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.bottom-row {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}

.bottom-btn {
  background: #3399ff;
  color: white;
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

#newStoryForm {
  margin-top: 20px;
}

#newStoryForm input,
#newStoryForm textarea,
#newStoryForm button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
